<ion-header>
  <ion-navbar>
    <ion-title>
      Add a New Game
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Title</ion-label>
      <ion-input type="text" value = ""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Publisher(s)</ion-label>
      <ion-select [(ngModel)]="publishers_selected" multiple="true">
        <ion-option *ngFor="let publisher of publishers">{{ publisher.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Year Published</ion-label>
      <ion-select [(ngModel)]="year">
        <ion-option *ngFor="let year of years">{{ year }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Rating</ion-label>
      <ion-input type="number" value = ""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Min Players</ion-label>
      <ion-input type="number" value = ""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Max Players</ion-label>
      <ion-input type="number" value = ""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Min Playtime</ion-label>
      <ion-input type="number" value = ""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Max Playtime</ion-label>
      <ion-input type="number" value = ""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Difficulty</ion-label>
      <ion-select [(ngModel)]="difficulty">
        <ion-option>Beginner</ion-option>
        <ion-option>Intermediate</ion-option>
        <ion-option>Advanced</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Genres</ion-label>
      <ion-select [(ngModel)]="genre_selected" multiple="true">
        <ion-option *ngFor="let genre of genres">{{ genre.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Date Purchased</ion-label>
      <ion-select [(ngModel)]="month">
        <ion-option value="01">January</ion-option>
        <ion-option value="02">February</ion-option>
        <ion-option value="03">March</ion-option>
        <ion-option value="04">April</ion-option>
        <ion-option value="05">May</ion-option>
        <ion-option value="06">June</ion-option>
        <ion-option value="07">July</ion-option>
        <ion-option value="08">August</ion-option>
        <ion-option value="09">September</ion-option>
        <ion-option value="10">October</ion-option>
        <ion-option value="11">November</ion-option>
        <ion-option value="12" checked="true">December</ion-option>
      </ion-select>
      <ion-select [(ngModel)]="year">
        <ion-option *ngFor="let year of years">{{ year }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Language</ion-label>
      <ion-input type="text" value = ""></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button>Save</button>
</ion-content>
