<!--
  Generated template for the GamesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Wargamers App
    </ion-title>
    <ion-buttons end>
			<main-menu></main-menu>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let game of games" (click)="gameInfo(game.title)" class="card">
      <ion-card-header class="card-header">
        {{ game.title }}
      </ion-card-header>

      <ion-card-content>
        Publishers: {{ game.publisher }}
        <br>
        Rating: {{ game.rating }}
        <br>
        Description: {{ game.description }}
      </ion-card-content>
      <ion-card-content class="card-content">
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab right bottom>
    <button *ngIf="user._user?.isAnExec" ion-fab (click)="addGame()" color="danger"><ion-icon name="add"></ion-icon></button>
    <button ion-fab (click)="searchGame()"><ion-icon name="search"></ion-icon></button>
  </ion-fab>
</ion-content>
