<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Wargamers App
    </ion-title>
    <ion-buttons end>
			<main-menu></main-menu>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let game of games">
        <ion-card (click)="gameInfo(game)" class="card" >
          <img [src]="game.image" />
          <ion-card-header class="card-header">
            {{ game.title }}
          </ion-card-header>

          <ion-card-content class="card-content">
            <p *ngIf="game.rating"><b>Rating:</b> {{ game.rating }}</p>
            <p *ngIf="game.description"><b>Description:</b> {{ game.description }}</p>
          </ion-card-content>
          <ion-card-content class="card-content">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-fab right bottom>
   <!-- <button *ngIf="isLoggedIn()" ion-fab (click)="addGame()" color="danger"><ion-icon name="add"></ion-icon></button> -->
    <button ion-fab (click)="searchGame()"><ion-icon name="search"></ion-icon></button>
  </ion-fab>
</ion-content>
