<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Wargamers App
    </ion-title>
    <ion-buttons end>
      <main-menu></main-menu>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let event of events" (click)="eventInfo(event)" class="card">
      <img *ngIf="event.image != null" [src]="event.image" />
      <ion-card-header class="card-header">
        {{ event.title }}
      </ion-card-header>

      <ion-card-content>
        <ng-container *ngIf="!event.always_show">
            <ng-container *ngIf="event.date != null; else date_tba"><b>Date:</b> {{ event.date.substring(0,10) }}</ng-container>
            <br>
        </ng-container>
        <ng-container *ngIf="event.start_time != null && event.end_time != null; else time_tba"><b>Time:</b> {{ event.start_time.substring(0,5) }} - {{ event.end_time.substring(0,5) }}</ng-container>
        <br>
        <ng-container *ngIf="event.location != null; else location_tba"><b>Location:</b> {{ event.location }}</ng-container>
        <br>
        <b>Description:</b> {{ event.description }}
      </ion-card-content>
      <ion-card-content class="card-content">
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- <ion-fab *ngIf="user._user != null" right bottom> -->
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="addEvent()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

<ng-template #date_tba><b>Date:</b> TBA</ng-template>
<ng-template #time_tba><b>Time:</b> TBA</ng-template>
<ng-template #location_tba><b>Location:</b> TBA</ng-template>
