// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

p {
  font-size: 1.8rem;
}

$primary-color: #1E2123;
$secondary-color: #F7CD46;


.toolbar-title {
  text-transform: uppercase;
}

.button-inner {
  color: #F7CD46;
}

.card {
  background-color: #1E2123;
  box-shadow: 2px 2px 23px 3px rgba(0,0,0,0.75);
}
.card-header {
  font-weight: bold;
  font-size: 175%;
  color: #F7CD46;
}
.card-content {
  p {
    color: #fff;
  }
  b {
    color: #F7CD46;
  }
}


