page-event-info {
    .title {
        color: #F7CD46;
        font-weight: bold;
        font-size: 200%;
    }
    .event-info {
        background-color: black;
    }
    .description {
        margin-left: 64px;
    }
    .fb-event-page {
        margin-left: 3px;
    }
    .time {
        margin-left: 105px;
    }
    .date {
        margin-left: 107px;
    }
    .location {
        margin-left: 82px;
    }
}   
