page-event-info {
    ion-item {
        margin-top: 0;
        margin-bottom: 0;
    }
    .title {
        color: #F7CD46;
        font-weight: bold;
        font-size: 200%;
    }
    .event-info {
        background-color: black;
    }
    .label-md {
        font-size: 3rem;
        b {
            color: #F7CD46;
        }
    }
}   
