<!--
  Generated template for the GamesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Wargamers App
    </ion-title>
    <ion-buttons end>
      <main-menu></main-menu>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="game-description">
  <ion-list *ngIf="game">
    <img [src]="game.image" />
    <ion-item no-lines class="game-title"> {{ game.title }} ({{ game.year_published }})</ion-item>
    <ion-item no-lines text-wrap><b>Published by:</b> {{ game.publisher }}</ion-item>
    <ion-item no-lines text-wrap><b>Categories:</b> {{ game.category }}</ion-item>
    <ion-item no-lines text-wrap><b>Rating:</b> {{ game.rating }} ({{ game.users_rated }} Users Rated on BGG)</ion-item>
    <ion-item no-lines text-wrap><b>Players:</b> {{ game.min_players }} - {{ game.max_players }}</ion-item>
    <ion-item no-lines text-wrap><b>Play Time:</b> {{ game.min_playtime }} - {{ game.max_playtime }}</ion-item>
    <ion-item no-lines text-wrap><b>Complexity:</b> {{ game.complexity }} / 5</ion-item>
    <ion-item no-lines text-wrap><b>Description:</b> {{ game.description }}</ion-item>
    <ion-item no-lines text-wrap><b>Available for Borrowing:</b> {{ game.available_copies }} / {{ game.total_copies }}</ion-item>
    <ion-item no-lines text-wrap><b>Condition:</b> {{ game.condition }}</ion-item>
    <ion-item no-lines text-wrap *ngIf="game.expansion_of !== null"><b>Expansion of</b> {{ game.expansion_of }}</ion-item>
  </ion-list>
</div>

  <ion-fab right bottom>
  <!-- <ion-fab right bottom *ngIf="user._user != null"> -->
    <button (click)="editGame()" ion-fab><ion-icon name="create"></ion-icon></button>
    <button (click)="deleteGame()" ion-fab><ion-icon name="close"></ion-icon></button>
  </ion-fab>
</ion-content>
