page-game-info {
    .game-title {
        color: #F7CD46;
        font-weight: bold;
    }
    .label-md {
        font-size: 3rem;
    }
    .align0 {
        margin-left: 68px;
    }
    .align {
        margin-left: 80px;
    }
    .align1 {
        margin-left: 107px;
    }
    .align2 {
        margin-left: 101px;
    }
    .align3 {
        margin-left: 86px;
    }
    .align4 {
        margin-left: 77px;
    }
    .align5 {
        margin-left: 75px; 
    }
    .align7 {
        margin-left: 85px;
    }
}
